{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{%block title%}{% endblock %}</title>
  {%block meta-data %}{% endblock %}
  <link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/base-style.css' %}" />
  <script src="{%static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'accounts/bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
  <header class="p-2 bg-dark bg-gradient text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'app:home' %}">
          <img src="{% static 'accounts/icons/home.png' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white"
            height="50" />
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'app:home' %}" class="nav-link px-2 text-white">Search</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'app:progress' %}" class="nav-link px-2 text-white">
              {% if user.is_superuser %}
              Course Status
              {%else%}
              Progress
              {%endif%}
            </a></li>
          {% endif %}
          <li><a href="{% url 'app:contact' %}" class="nav-link px-2 text-white">Contacts</a></li>
          <li><a href="{% url 'app:about' %}" class="nav-link px-2 text-white">About</a></li>

        </ul>

        <div class="text-end">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <a class="nav-link text-white me-2" href="{% url 'admin:index' %}">Dashboard</a>
            <a class="nav-link text-white me-2" href="{% url 'app:lecturer-profile' user.id %}">{{user.first_name}}</a>

            {% elif user.is_staff %}
            <a class="nav-link text-white me-2" href="{% url 'app:lecturer-profile' user.id %}">{{user.first_name}}</a>
            {% else %}
            <a class="nav-link text-white me-2" href="{% url 'app:student-profile' user.id %}">{{user.first_name}}</a>
            {% endif %}
            <a class="btn btn-warning" href="{% url 'accounts:logout' %}">Logout</a>

            {% else %}
            <a class="btn btn-outline-light me-2" href="{% url 'accounts:login' %}">Login</a>
            <a class="btn btn-warning" href="{% url 'accounts:register' %}">Register</a>
            {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </header>
  <div style="margin-bottom: 50px;">
    {%block content%}{%endblock%}
  </div>
</body>
<footer class="footer mt-auto py-3 bg-dark bg-gradient fixed-bottom ">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3 text-center">
        <span class="text-white">Course Reservation System <br>&copy; 2021 </span>
      </div>
      <div class="col-sm-3">
        <span class="text-white"> Mohammad Danish<br>2K21/SWE/15</span>
      </div>
      <div class="col-sm-3">
        <span class="text-white"> Ashish Kumar Singh<br>2K21/SWE/07</span>
      </div>
      <div class="col-sm-3">
        <span class="text-white"> Fahad Abdullah<br> 2K21/SWE/09</span>
      </div>
    </div>
  </div>
</footer>

</html>