
{% extends '../base.html' %}
{% load static %}
{%block title %}Login to account{% endblock %}
{%block content-account %}
<div id="login-form">
  <main class="form-log-sign">
    <form method="POST" action="{% url 'accounts:password_change' %}">
      {% csrf_token %}
      <div class="text-center">
        <img class="mb-4 " src="{% static 'accounts/icons/user_add_icon.png' %}" alt="" height="80" />
      </div>
      <h1 class="h3 mb-3 fw-normal text-center">Change password</h1>

      <div class="form-floating">
          <div class="text-left py-3">
            {{form.old_password}}
          </div>
        
        <label for="floatingInput">Old password</label>
      </div>
      <div class="form-floating">
        <div class="text-left py-3">
            {{form.new_password1}}
          </div>
        <label for="floatingInput">New password</label>
      </div>
      <div class="form-floating">
        <div class="text-left py-3">
            {{form.new_password2}}
          </div>
        <label for="floatingInput">Re-type new password</label>
      </div>
      {{form.errors}}

      <button class="w-100 btn btn-lg btn-primary" type="submit">Change</button>
    </form>
  </main>
</div>
{%endblock%}