{% extends '../base.html' %}
{% load static %}
{%block title %}About{% endblock %}
{%block content %}
<div class="container text-center" style="margin-top: 100px;">
    <h3 class="display-3 mt-3">Course Reservation System</h3>
    <p class="m-3">
        Computer reservation systems, or central reservation systems (CRS), are computerized systems used to store and retrieve information and conduct transactions related to air travel, hotels, car rental, or other activities. Originally designed and operated by airlines, CRSs were later extended for use by travel agencies, and global distribution systems (GDSs) to book and sell tickets for multiple airlines. Most airlines have outsourced their CRSs to GDS companies,[1] which also enable consumer access through Internet gateways. Modern GDSs typically also allow users to book hotel rooms, rental cars, airline tickets as well as other activities and tours. They also provide access to railway reservations and bus reservations in some markets, although these are not always integrated with the main system. These are also used to relay computerized information for users in the hotel industry, making reservation and ensuring that the hotel is not overbooked.
    </p>
</div>
{%endblock%}

