{% extends '../base.html' %}
{% load static %}
{%block title %}About{% endblock %}
{%block content %}
<div class="container text-center" style="margin-top: 100px;">
    <h3 class="display-3 mt-3">Course Reservation System</h3>
    <p class="m-3">
        Hey!, I am Mohammad Danish, M.tech student at Delhi Technological University at the department of Software
        Engineering.
    </p>
    <div class="">
        <!-- Facebook -->
        <a class="btn btn-primary" style="background-color: #3b5998;" href="http://github.com/okmd" role="button"><i
                class="fa fa-github"></i></a>

        <!-- Twitter -->
        <a class="btn btn-primary" style="background-color: #55acee;" href="https://www.linkedin.com/in/okmd"
            role="button"><i class="fa fa-linkedin"></i></a>

        <a class="btn btn-primary" style="background-color: #55acee;" href="https://leetcode.com/okmd/" role="button"><i
                class="fa fa-code"></i></a>

        <p class="text-center mt-1">
            Follow me
        </p>
    </div>
</div>
{%endblock%}