{% extends '../base.html' %}
{% load static %}
{%block title %}Contact{% endblock %}
{%block content %}
<div class="container text-center ">
    <div class="justify-content-center" , style="margin-top: 100px;">
        <div class="display-4">Contact Administrator</div>
        <div class="display-6">Email : admin@gmail.com</div>
        <div class="display-6">Phone : +91-989**98989</div>
        <p>
            <strong>Note*:</strong> This is just a sample emaila and phone.
        </p>
    </div>
    <!-- Facebook -->
    <a class="btn btn-primary" style="background-color: #3b5998;" href="http://github.com/okmd" role="button"><i
            class="fa fa-github"></i></a>

    <!-- Twitter -->
    <a class="btn btn-primary" style="background-color: #55acee;" href="https://www.linkedin.com/in/okmd"
        role="button"><i class="fa fa-linkedin"></i></a>

    <a class="btn btn-primary" style="background-color: #55acee;" href="https://leetcode.com/okmd/" role="button"><i
            class="fa fa-code"></i></a>

    <p class="text-center mt-1">
        Follow me
    </p>

</div>
{%endblock%}